name: Deploy to Railway

on:
  push:
    branches:
      - master

env:
  RAILWAY_PROJECT_ID: ff19bdac-1e5c-44b5-8b12-6bb855b65a0a

jobs:
  deploy-api:
    name: Deploy API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy API
        run: railway up -s api -e production --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

  deploy-frontend:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Swap Dockerfile for Frontend
        run: |
          cp Dockerfile Dockerfile.api.temp
          cp Dockerfile.web Dockerfile

      - name: Deploy Frontend
        run: railway up -s frontend -e production --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
