name: Deploy to Railway

on:
  push:
    branches:
      - master

jobs:
  deploy-api:
    name: Deploy API
    runs-on: ubuntu-latest
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Link and Deploy API
        run: |
          railway link -p ff19bdac-1e5c-44b5-8b12-6bb855b65a0a -e production -s api
          railway up --detach

  deploy-frontend:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Swap Dockerfile for Frontend
        run: |
          cp Dockerfile Dockerfile.api.temp
          cp Dockerfile.web Dockerfile

      - name: Link and Deploy Frontend
        run: |
          railway link -p ff19bdac-1e5c-44b5-8b12-6bb855b65a0a -e production -s frontend
          railway up --detach
